html {
    background-color: black;
    color: white;
    font-size: 12px;
    font-family: 'Palatino-Roman Th', 'Times New Roman', Times, serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

@font-face {
    font-family: 'Palatino-Roman Th';
    src: url(./resources/palatino.ttf);
}

/* @font-face {
    font-family: 'Akkurat-Fett';
    src: url(./resources/Akkurat-Fett);
}

@font-face {
    font-family: 'Akkurat-Normal';
    src: url(./resources/Akkurat-Normal);
} */


.martel-sans-extralight {
  font-family: "Martel Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.martel-sans-light {
  font-family: "Martel Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.martel-sans-regular {
  font-family: "Martel Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.martel-sans-semibold {
  font-family: "Martel Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.martel-sans-bold {
  font-family: "Martel Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.martel-sans-extrabold {
  font-family: "Martel Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.martel-sans-black {
  font-family: "Martel Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}


/*landing*/

.buttons {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    flex-direction: row;
    position: fixed;
    top: 20px;
    right: 20px;
}

.buttons button {
    background-color: rgba(0, 0, 0, 0);
    padding: .5rem 1rem;
    color: gray;
    margin: .3rem;
    font-family: 'Martel Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
    background: none;
    border: none;
}

.buttons button:hover {
    cursor: pointer;
    color: white;
    transition: .4s ease-in-out;
}


    #pedestal {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }

    #pedestal #title {
        font-size: 5.8vw;
        line-height: 6rem;
        text-align: center;
        display: block;
        position: fixed;
        bottom: .5rem;
        margin: 0;
    }

    #pedestal img {
        height: auto;
        width: 30rem;
        position: fixed;
        bottom: 5rem;
        z-index: 1;
    }

    #text-appear {
    font-family: 'Martel Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;        
    font-size: 1.2rem;
    line-height: 1.6rem;
        color: white;
        text-transform: uppercase;
        text-align: center;
        position: absolute;
        width: 100%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

@keyframes text {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

    #one {
        animation: text 2s ease-in-out;
    }

    #two {
        animation: text 2.5s ease-in-out;
    }

    #three {
        animation: text 3s ease-in-out;
    }

    #four {
        animation: text 3.5s ease-in-out;
    }

    #five {
        animation: text 4s ease-in-out;
    }

    #six {
        animation: text 4.5s ease-in-out;
    }

    #seven {
        animation: text 5s ease-in-out;
    }

    #eight {
        animation: text 5.5s ease-in-out;
    }

        #nine {
        animation: text 6s ease-in-out;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.9rem;
        color: gray;
    }

        #mobile {
        display: none;
    }
    

      /* smartphone */
  @media only screen and (max-width: 750px), (orientation: portrait) {
    #pedestal img {
        height: auto;
        width: 15rem;
        display: block;
        bottom: 8rem;
        z-index: 1;
    }

    #pedestal #title {
        font-size: 3.2rem;
        line-height: 3rem;
        text-align: center;
        bottom: 0rem;
    }

    #mobile {
        display: contents;
    }
    
    #nine {
        font-size: 1rem;
        line-height: 1.4rem;
        margin-top: -1.3rem;
        
    }

    #text-appear {
        font-size: 1rem;
        top: 40%;
    }

    .buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    position: fixed;
    top: 20px;
    left: 50%;
    width: 95%;
    margin: auto;
    transform: translate(-50%, 0%);
    text-align: center;
}

  }